In [34]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_excel(r'C:\Users\MONSTER\Desktop\data.xlsx')

In [37]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park , Harbourfront

In [42]:
df = df.replace("Not assigned", np.nan)
df.head()

  Postal code           Borough                Neighborhood
0         M1A               NaN                         NaN
1         M2A               NaN                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park , Harbourfront

In [43]:
df = df.dropna(subset=["Borough"], axis=0)
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [44]:
missing_data = df3.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postal code
False    103
Name: Postal code, dtype: int64

Borough
False    103
Name: Borough, dtype: int64

Neighborhood
False    103
Name: Neighborhood, dtype: int64

In [45]:
df.shape

(103, 3)

In [61]:
df = df.reset_index()

In [62]:
df.drop(['index'], axis=1, inplace=True)

In [65]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern , Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill , Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson